@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto&display=swap");

:root {
  --actionBlue: #065fd4;
  --actionHover: #065fd41f;
  --hoverGrey: rgb(235, 235, 235);
  --lightBackground: rgb(250, 250, 250);
  --infoGrey: rgb(235, 235, 235);
  --linkBlue: #0d5fd4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

body, html {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

.actionBlue {
  color: var(--actionBlue);
}

.weight700 {
  font-weight: 700;
}

.thin {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.border {
  border: 1px solid black;
}

.bold {
  font-weight: 700;
}

.material-symbols-outlined, .ytLogo {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.filled {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  z-index: 1000;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 12px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #6e6e6e;
}

::placeholder {
  font-weight: 400;
  font-size: 15px;
}