.displayMainVideos {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  padding: 50px 100px;
  grid-template-rows: 300px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
  row-gap: 40px;
}
