.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 56px;
}

.leftHeader {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
}

.ytLogo {
  height: 20px;
  padding: 16px;
}

.ytLogo:hover {
  cursor: pointer;
}

.menu, .headerBtn {
  padding: 8px;
}

.menu:hover, .headerBtn:hover {
  background-color: var(--hoverGrey);
  border-radius: 50px;
  cursor: pointer;
}

.middleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
}

.searchWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid lightgray;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 40px;
  box-shadow: inset 0px 1px 2px var(--hoverGrey);
  position: relative;
}

.searchWrap.selectedAction {
  border: 1px solid var(--actionBlue);
  margin-left: 0px;
}

.search {
  width: 30vw;
  border: none;
  padding: 0px 4px 4px 16px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

.searchIcon {
  padding-left: 16px;
  display: none;
}

.searchIcon.active {
  display: flex;
}

.searchBtn {
  height: 100%;
  border: none;
  width: 12%;
  border-left: 1px solid lightgray;
  background-color: whitesmoke;
  border-radius: 0px 40px 40px 0px;
  border: 1px solid lightgray;
  border-left: none;
  overflow: hidden;
}

.searchBtn:hover {
  background-color: var(--hoverGrey);
  cursor: pointer;
}

.rightHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  width: 20vw;
}

.signIn {
  background-color: transparent;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 8px;
  padding: 4px 8px 4px 0px;
  width: 100px;
}

.signIn:hover {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--actionHover);
}

.signInTxt {
  font-size: 0.9rem;
  color: var(--actionBlue);
  font-weight: 600;
}

.dots, .headerBtn {
  cursor: pointer;
}

.delTxt {
  width: 30px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  margin-right: 2px;
  opacity: 0;
}

.delTxt.visible:hover {
  background-color: var(--hoverGrey);
  border-radius: 50%;
  cursor: pointer;
}

.delTxt.visible {
  opacity: 1;
  pointer-events: all;
}

.delTxt {
  pointer-events: none;
}

.userIcon {
  width: 2.2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}

.rightHeader.userInfo {
  padding-right: 20px;
  gap: 24px;
}

.tooltip {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateY(150%) translateX(-50%);
  padding: 8px;
  background-color: rgb(163, 163, 163);
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 999;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}