.relatedVideos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.relatedVideoWrap {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 100px;
  display: flex;
}

.relatedVideoInfo {
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.relatedTitle {
  font-size: 1.1rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.relatedChannelName.subTxt {
  font-size: 0.8rem;
}