.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 92vh;
  box-sizing: border-box;
  background-color: var(--lightBackground);
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebarElement {
  width: 240px;
  border-bottom: 1px solid lightgray;
  padding: 10px 12px;
  box-sizing: border-box;
}

.sideItemWrap {
  display: flex;
  box-sizing: border-box;
  padding: 4px 8px;
  height: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: 95%;
  color: black;
  text-decoration: none;
}

.sideItemWrap:hover, .activePage {
  background-color: var(--hoverGrey);
  cursor: pointer;
}

.sideItemWrap.activePage:hover {
  background-color: rgb(223, 223, 223);
}

.sideIcon {
  height: 1.5rem;
  font-size: 1.5rem;
  padding: 0px 8px;
}

.sideIcon.shortsIcon {
  padding: 0px 10px;
}

.sideItemLabel {
  font-weight: 500;
  font-size: 0.9rem;
}

.sideItemLabel.bold {
  font-weight: 700;
}

.sideHeader {
  padding: 0px 18px;
  font-weight: 500;
  font-size: 1.1rem;
}

/* Sign In */

.sideSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 20px;
  padding-left: 35px;
  box-sizing: border-box;
  width: 228px;
}

/* About */
.aboutLink {
  text-decoration: none;
  color: black;
}