.videoAnalytics {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.videoAnalyticsLeft {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 4px;
}

.mainVideoChannelInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mainVideoChannel {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px
}

.verifiedCheck {
  color: grey;
  font-size: 1rem;
}

.videoChannelIcon {
  font-size: 3.3rem;
  width: 3.3rem;
  aspect-ratio: 1/1;
}

.subscribe {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
}

.subscribe:hover {
  background-color: rgb(45, 45, 45);
}

.videoAnalyticsRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.analyticWrap, .more {
  display: flex;
  background-color: var(--infoGrey);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.analyticWrap.normWrap, .more {
  padding: 8px 10px;
}

.likesLeft {
  display: flex;
  gap: 4px;
  border-right: 1px solid rgb(204, 203, 203);
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  padding-right: 15px;
}

.dislike {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  padding-left: 15px;
}

.likesLeft:hover, .analyticWrap.normWrap:hover, .dislike:hover, .more:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}